USE [master]
GO
/****** Object:  Database [195DA_1]    Script Date: 28.11.2022 11:10:06 ******/
CREATE DATABASE [195DA_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'195DA_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195DA_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'195DA_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195DA_1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [195DA_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [195DA_1]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Code] [varchar](6) NULL,
	[LastName] [varchar](100) NULL,
	[FirstName] [varchar](50) NULL,
	[Patronimic] [varchar](50) NULL,
	[Gender] [char](1) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Code] [varchar](3) NOT NULL,
	[Name] [varchar](100) NULL,
	[Flag] [binary](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryID]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](3) NULL,
 CONSTRAINT [PK_CountryID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[StarCount] [int] NULL,
	[Country] [varchar](3) NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelPhoto]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelPhoto](
	[ID] [int] NOT NULL,
	[Preview] [binary](50) NULL,
	[PhotoPath] [varchar](200) NULL,
 CONSTRAINT [PK_HotelPhoto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[name]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[name](
	[ID] [int] NOT NULL,
	[Name1] [nchar](10) NULL,
	[Post] [int] NULL,
	[Password] [nchar](10) NULL,
	[photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_name] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostID]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostID](
	[id] [int] NOT NULL,
	[Post] [nchar](50) NULL,
 CONSTRAINT [PK_PostID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] NOT NULL,
	[Name] [varchar](200) NULL,
	[PartnerID] [int] NULL,
	[HotelID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceByTour]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceByTour](
	[ID] [int] NOT NULL,
	[ServiceID] [int] NULL,
	[IsControl] [char](1) NOT NULL,
 CONSTRAINT [PK_ServiceByTour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ContryID] [int] NULL,
	[TicketCount] [int] NULL,
	[Price] [money] NULL,
	[IsActual] [int] NULL,
	[ToursTypeID] [int] NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToursID]    Script Date: 28.11.2022 11:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToursID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ToursType] [varchar](100) NULL,
 CONSTRAINT [PK_ToursID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Country] ([Code], [Name], [Flag]) VALUES (N'AD', N'Andorra', NULL)
INSERT [dbo].[Country] ([Code], [Name], [Flag]) VALUES (N'AE', N'United Arab Emirates', NULL)
INSERT [dbo].[Country] ([Code], [Name], [Flag]) VALUES (N'AF', N'Afghanistan', NULL)
GO
SET IDENTITY_INSERT [dbo].[CountryID] ON 

INSERT [dbo].[CountryID] ([ID], [Country]) VALUES (1, N'BG')
INSERT [dbo].[CountryID] ([ID], [Country]) VALUES (2, N'АЕ')
INSERT [dbo].[CountryID] ([ID], [Country]) VALUES (3, N'DE')
SET IDENTITY_INSERT [dbo].[CountryID] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([ID], [Name], [StarCount], [Country]) VALUES (1, N'Hotel Artemide', 5, N'ES ')
INSERT [dbo].[Hotel] ([ID], [Name], [StarCount], [Country]) VALUES (2, N'H10 Madison', 4, N'FI ')
INSERT [dbo].[Hotel] ([ID], [Name], [StarCount], [Country]) VALUES (3, N'A Room With A View', 3, N'ES ')
SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
INSERT [dbo].[name] ([ID], [Name1], [Post], [Password], [photo]) VALUES (1, N'test      ', 1, N'1         ', N'\Resourses\persona.png')
INSERT [dbo].[name] ([ID], [Name1], [Post], [Password], [photo]) VALUES (2, N'testSmena ', 2, N'2         ', N'\Resourses\persona.png')
INSERT [dbo].[name] ([ID], [Name1], [Post], [Password], [photo]) VALUES (3, N'testMan   ', 3, N'3         ', N'\Resourses\persona.png')
GO
INSERT [dbo].[PostID] ([id], [Post]) VALUES (1, N'Administrator                                     ')
INSERT [dbo].[PostID] ([id], [Post]) VALUES (2, NULL)
INSERT [dbo].[PostID] ([id], [Post]) VALUES (3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([ID], [Name], [ContryID], [TicketCount], [Price], [IsActual], [ToursTypeID]) VALUES (1, N'Болгарское наследие', 1, 127, 35700.0000, 1, 1)
INSERT [dbo].[Tours] ([ID], [Name], [ContryID], [TicketCount], [Price], [IsActual], [ToursTypeID]) VALUES (2, N'Волшебный Восток', 2, 92, 77100.0000, 1, 2)
INSERT [dbo].[Tours] ([ID], [Name], [ContryID], [TicketCount], [Price], [IsActual], [ToursTypeID]) VALUES (3, N'Город с большими амбициями', 3, 72, 93300.0000, 1, 3)
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[ToursID] ON 

INSERT [dbo].[ToursID] ([ID], [ToursType]) VALUES (1, N'Международный туризм Лечебно-оздоровительные туры. Пляжные туры')
INSERT [dbo].[ToursID] ([ID], [ToursType]) VALUES (2, N'Международный туризм Пляжные туры')
INSERT [dbo].[ToursID] ([ID], [ToursType]) VALUES (3, N'Международный туризм Экскурсионные туры, Обслуживание корпоративных клиентов по заказу')
SET IDENTITY_INSERT [dbo].[ToursID] OFF
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([Code])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_Hotel_Country]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_HotelPhoto] FOREIGN KEY([HotelID])
REFERENCES [dbo].[HotelPhoto] ([ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_HotelPhoto]
GO
ALTER TABLE [dbo].[ServiceByTour]  WITH CHECK ADD  CONSTRAINT [FK_ServiceByTour_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ID])
GO
ALTER TABLE [dbo].[ServiceByTour] CHECK CONSTRAINT [FK_ServiceByTour_Service]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tours_CountryID] FOREIGN KEY([ContryID])
REFERENCES [dbo].[CountryID] ([ID])
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tours_CountryID]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tours_ToursID] FOREIGN KEY([ToursTypeID])
REFERENCES [dbo].[ToursID] ([ID])
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tours_ToursID]
GO
USE [master]
GO
