USE [master]
GO
/****** Object:  Database [195DA_1]    Script Date: 25.11.2022 13:19:14 ******/
CREATE DATABASE [195DA_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'195DA_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195DA_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'195DA_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195DA_1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [195DA_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [195DA_1]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 25.11.2022 13:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Code] [varchar](6) NULL,
	[LastName] [varchar](100) NULL,
	[FirstName] [varchar](50) NULL,
	[Patronimic] [varchar](50) NULL,
	[Gender] [char](1) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 25.11.2022 13:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Code] [varchar](3) NULL,
	[Name] [varchar](100) NULL,
	[Flag] [binary](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelPhoto]    Script Date: 25.11.2022 13:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelPhoto](
	[ID] [int] NOT NULL,
	[Preview] [binary](50) NULL,
	[PhotoPath] [varchar](200) NULL,
 CONSTRAINT [PK_HotelPhoto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[name]    Script Date: 25.11.2022 13:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[name](
	[ID] [int] NOT NULL,
	[Name1] [nchar](10) NULL,
	[Post] [int] NULL,
	[Password] [nchar](10) NULL,
	[photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_name] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostID]    Script Date: 25.11.2022 13:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostID](
	[id] [int] NOT NULL,
	[Post] [nchar](50) NULL,
 CONSTRAINT [PK_PostID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 25.11.2022 13:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] NOT NULL,
	[Name] [varchar](200) NULL,
	[PartnerID] [int] NULL,
	[HotelID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceByTour]    Script Date: 25.11.2022 13:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceByTour](
	[ID] [int] NOT NULL,
	[ServiceID] [int] NULL,
	[IsControl] [char](1) NOT NULL,
 CONSTRAINT [PK_ServiceByTour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[name] ([ID], [Name1], [Post], [Password], [photo]) VALUES (1, N'test      ', 1, N'1         ', N'\Resourses\persona.png')
INSERT [dbo].[name] ([ID], [Name1], [Post], [Password], [photo]) VALUES (2, N'testSmena ', 2, N'2         ', N'\Resourses\persona.png')
INSERT [dbo].[name] ([ID], [Name1], [Post], [Password], [photo]) VALUES (3, N'testMan   ', 3, N'3         ', N'\Resourses\persona.png')
GO
INSERT [dbo].[PostID] ([id], [Post]) VALUES (1, N'Administrator                                     ')
INSERT [dbo].[PostID] ([id], [Post]) VALUES (2, NULL)
INSERT [dbo].[PostID] ([id], [Post]) VALUES (3, NULL)
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_HotelPhoto] FOREIGN KEY([HotelID])
REFERENCES [dbo].[HotelPhoto] ([ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_HotelPhoto]
GO
ALTER TABLE [dbo].[ServiceByTour]  WITH CHECK ADD  CONSTRAINT [FK_ServiceByTour_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ID])
GO
ALTER TABLE [dbo].[ServiceByTour] CHECK CONSTRAINT [FK_ServiceByTour_Service]
GO
USE [master]
GO
